on: [push, pull_request, workflow_dispatch]

name: check

jobs:
  check:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} R ${{ matrix.r-version }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-14, macos-15-intel, windows-2022, ubuntu-22.04, ubuntu-24.04 ]
        r-version: [ devel ]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Install R
        uses: s-u/R-actions/install@v2
        with:
          r-version: ${{ matrix.r-version }}
          tools: base

      - uses: s-u/R-actions/pkg-check@master
        with:
          debian-deps: libssl-dev
          macos-deps: openssl
          windows-deps: openssl
          check-flags: --as-cran
          dep-type: source
          build-script: sh mkdist
